@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

.header {
    background-color: #eff0f2;
    text-align: center;
}

.header__container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 43px;
}

.header__link {
    position: absolute;
    right: 59px;
    text-decoration: underline;
    font-size: 18px;
    letter-spacing: 2.16px;
    color: #000000;
}

.header__title {
    max-width: 400px;
    margin: 58px auto;
    color: #505050;
    font-weight: 700;
    font-size: 45px;
    line-height: 75px;
    letter-spacing: 2.7px;
}

.header__button {
    width: 232px;
    height: 53px;
    margin: 29px 0;
    border: 2px solid #00000080;
    border-radius: 2px;
    font-size: 18px;
    letter-spacing: 2.18px;

    &:hover {
        background-color: #dbdbdb;
    }

    &:active {
        background-color: #686868;
    }
}

.header__logos {
    width: 886px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 63px 0 81px;
    img {
        height: 89px;
    }
}

.header__company {
    background-color: #68478d;
    color: #ffffff;
    padding: 2.5px 7.5px;
}

.main {
    text-align: center;

    .container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .title {
        font-weight: 700;
        font-size: 38px;
        line-height: 28px;
        letter-spacing: 2.28px;
    }

    .subtitle {
        font-family: "Merriweather", serif;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1.08px;
    }
}

.about {
    background-color: #f8fafa;
}

.about__container {
    padding: 129px 0 28px;
}

.about__subtitle {
    margin-top: 7px;
}

.about__samples {
    max-width: 1080px;
    margin: 70px auto;
}

.about__text {
    max-width: 1080px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0 auto;

    h3 {
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 1.2px;
    }

    p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.8px;
        padding: 12px 0;
    }
}

.about__actually-do {
    margin-bottom: 35px;

    h3 {
        font-size: 20px;
        padding-bottom: 17px;
    }
}

.about__we-great {
    width: 50%;

    h3 {
        font-size: 17px;
        padding-bottom: 8px;
    }
}

.featured__container {
    padding: 128px 0;
}

.featured__subtitle {
    margin-top: 10px;
}

.featured__collection {
    margin: 100px auto 0;
    max-width: 1140px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.team {
    background-color: #eff0f2;
}

.team__container {
    padding: 104px 0 171px;
}

.team__subtitle {
    margin-top: 10px;
}

.team__collection {
    margin: 108px auto 0;
    max-width: 1140px;
    display: flex;
    gap: 7px 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.employee {
    position: relative;
}

.employee__about {
    position: absolute;
    width: calc(100% - 36px);
    bottom: 0;
    margin: 0 18px 15px;
    padding: 37px 50px 37px 37px;
    text-align: left;
    background-color: #eff0f2;
    border: 1px solid #000000;
    opacity: 0.98;
    box-shadow: 2.700000047683716px 6.400000095367432px 16px 0px #1414152e;
}

.employee__arrow {
    position: absolute;
    top: -21px;
}

.employee__name {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.employee__position {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.45px;
}

.employee__info {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 24px;
}

.employee__links {
    display: flex;
    justify-content: left;
    gap: 33px;
    align-items: center;
}

.contact *,
.footer * {
    font-family: "Raleway", sans-serif;
}

.contact {
    background-image: url("../../images/main/follow-us/background-trees.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}

.contact__container {
    padding: 140px 150px 122px;
    display: flex;
    justify-content: start;

    > div {
        height: 460px;
        background-color: #001871b5;
        box-shadow: 0px 0px 30px 0px #1515151f;
    }
}

.contact__feedback {
    padding: 47px 32px 38px;
    margin-right: 26px;
}

.contact__input {
    width: 550px;
    height: 30px;
    font-size: 15px;
    line-height: 51px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 30px;

    &::placeholder {
        color: white;
    }
}

.contact__message {
    width: 550px;
    height: 105px;
    font-size: 15px;
    line-height: 51px;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 38px;
    resize: none;

    &::placeholder {
        color: white;
    }
}

.contact__submit {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2.16px;
    text-transform: uppercase;
    width: 244px;
    height: 53px;
    background-color: #6eeee4;
    border-radius: 1px;

    &:hover {
        background-color: #b3fef8;
    }

    &:active {
        background-color: #67ccc4;
    }
}

.contact__info {
    padding: 36px 22px 19px;
}

.contact__line {
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
}

.contact__map {
    margin-top: 33px;
    width: 455px;
    height: 224px;
}

.footer {
    padding: 93px 0 152px;
    background-color: #68478d;
    text-align: center;
}

.footer__container {
    margin: 0 auto;
}

.footer__title {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #ffffff;
}

.footer__links {
    margin-top: 10px;
}

.footer__links {
    display: flex;
    gap: 7px;
    justify-content: center;
}

.footer__links > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 40px;
    background-color: #50505066;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }

    &:active {
        background-color: #6eeee4;

        svg {
            fill: #000000;
        }
    }
}

.footer__links > li svg {
    fill: #ffffff;
}
