@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #eff0f2;
  text-align: center;
}

.header__container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 45px 0 80px;
}

.header__link,
.header__link-small {
  position: absolute;
  text-decoration: underline;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.16px;
  color: #000000;
}
.header__link:hover,
.header__link-small:hover {
  text-decoration: underline;
  color: #505050;
}
.header__link:active,
.header__link-small:active {
  text-decoration: underline;
  color: #808080;
}

.header__link {
  right: 60px;
}

.header__link-small {
  display: none;
  right: 20px;
}

.header__info {
  /* will made flexbox and row-reverse for mobile */
}

.header__title {
  max-width: 400px;
  margin: 58px auto;
  color: #505050;
  font-weight: 700;
  font-size: 45px;
  line-height: 75px;
  letter-spacing: 2.7px;
}

.header__button {
  width: 232px;
  height: 53px;
  margin: 29px 0;
  border: 2px solid rgba(0, 0, 0, 0.5019607843);
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: 2.18px;
}
.header__button:hover {
  background-color: #dbdbdb;
}
.header__button:active {
  background-color: #686868;
}

.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 886px;
  margin: 0 auto;
  padding: 63px 0 0;
}
.header__logos img {
  height: 89px;
}

.header__company {
  background-color: #68478d;
  color: #ffffff;
  padding: 2.5px 7.5px;
}

.main {
  text-align: center;
}
.main .container {
  max-width: 1440px;
  margin: 0 auto;
}
.main .title {
  font-weight: 700;
  font-size: 38px;
  line-height: 28px;
  letter-spacing: 2.28px;
}
.main .subtitle {
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1.08px;
}

.about {
  background-color: #f8fafa;
}

.about__container {
  padding: 129px 0 28px;
}

.about__subtitle {
  margin-top: 7px;
}

.about__samples {
  width: 80%;
  max-width: 1080px;
  margin: 70px auto;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  max-width: 1080px;
  margin: 0 auto;
  text-align: left;
}
.about__text h3 {
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.2px;
}
.about__text p {
  padding: 12px 0;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
}

.about__actually-do {
  margin-bottom: 35px;
}
.about__actually-do h3 {
  padding-bottom: 17px;
  font-size: 20px;
}

.about__we-great {
  width: 50%;
}
.about__we-great h3 {
  padding-bottom: 8px;
  font-size: 17px;
}

.featured__container {
  padding: 128px 0;
}

.featured__subtitle {
  margin-top: 10px;
}

.featured__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  max-width: 1140px;
  margin: 100px auto 0;
}

.team {
  background-color: #eff0f2;
}

.team__container {
  padding: 104px 0 171px;
}

.team__subtitle {
  margin-top: 10px;
}

.team__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  max-width: 1140px;
  margin: 108px auto 0;
}

.employee {
  position: relative;
}
.employee:hover .employee__about {
  display: block;
}

.employee__about {
  position: absolute;
  bottom: 15px;
  display: none;
  width: calc(100% - 36px);
  min-height: 240px;
  margin: 0 18px;
  padding: 37px 50px 37px 37px;
  border: 1px solid #000000;
  background-color: #eff0f2;
  text-align: left;
  -webkit-box-shadow: 2.7px 6.4px 16px 0px rgba(20, 20, 21, 0.1803921569);
          box-shadow: 2.7px 6.4px 16px 0px rgba(20, 20, 21, 0.1803921569);
}

.employee__arrow {
  position: absolute;
  top: -21px;
}

.employee__name {
  margin-bottom: 16px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
}

.employee__position {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.45px;
}

.employee__info {
  overflow: auto;
  max-height: 72px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.employee__links {
  position: relative;
  left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
.employee__links li {
  width: 46px;
  height: 40px;
}
.employee__links li:hover {
  background-color: #6eeee4;
}
.employee__links li:active {
  background-color: #505050;
}
.employee__links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.contact *,
.footer * {
  font-family: "Raleway", sans-serif;
}

.contact {
  background-image: url("../../images/main/follow-us/background-trees.jpg");
  background-size: cover;
  text-align: left;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 26px;
  padding: 140px 150px 122px;
}
.contact__container > div {
  height: 460px;
  background-color: rgba(0, 24, 113, 0.7098039216);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.1215686275);
          box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.1215686275);
}

.contact__feedback {
  width: 100%;
  max-width: 614px;
  padding: 47px 32px 38px;
}

.contact__input,
.contact__message {
  display: block;
  width: 100%;
  padding: 0 3px;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 15px;
  line-height: 51px;
}
.contact__input::-webkit-input-placeholder, .contact__message::-webkit-input-placeholder {
  color: #ffffff;
}
.contact__input::-moz-placeholder, .contact__message::-moz-placeholder {
  color: #ffffff;
}
.contact__input:-ms-input-placeholder, .contact__message:-ms-input-placeholder {
  color: #ffffff;
}
.contact__input::-ms-input-placeholder, .contact__message::-ms-input-placeholder {
  color: #ffffff;
}
.contact__input::placeholder,
.contact__message::placeholder {
  color: #ffffff;
}
.contact__input:focus,
.contact__message:focus {
  color: #6eeee4;
  border-color: #6eeee4;
}
.contact__input:focus::-webkit-input-placeholder, .contact__message:focus::-webkit-input-placeholder {
  color: #808080;
}
.contact__input:focus::-moz-placeholder, .contact__message:focus::-moz-placeholder {
  color: #808080;
}
.contact__input:focus:-ms-input-placeholder, .contact__message:focus:-ms-input-placeholder {
  color: #808080;
}
.contact__input:focus::-ms-input-placeholder, .contact__message:focus::-ms-input-placeholder {
  color: #808080;
}
.contact__input:focus::placeholder,
.contact__message:focus::placeholder {
  color: #808080;
}

.contact__input {
  height: 30px;
  margin-bottom: 30px;
}

.contact__message {
  height: 105px;
  margin-bottom: 38px;
  resize: none;
}

.contact__submit {
  width: 244px;
  height: 53px;
  border-radius: 1px;
  background-color: #6eeee4;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}
.contact__submit:hover {
  background-color: #b3fef8;
}
.contact__submit:active {
  background-color: #67ccc4;
}

.contact__info {
  width: 100%;
  max-width: 500px;
  padding: 35px 22px 20px;
}

.contact__line {
  color: #ffffff;
  font-size: 15px;
  line-height: 24px;
}

.contact__map {
  max-width: 455px;
  max-height: 224px;
  margin-top: 33px;
}

.footer {
  padding: 93px 0 152px;
  background-color: #68478d;
  text-align: center;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer__title {
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.16px;
}

.footer__links {
  margin-top: 10px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.footer__links > li {
  width: 46px;
  height: 40px;
  background-color: #614a7c;
  opacity: 0.7;
}
.footer__links > li:hover {
  background-color: #6eeee4;
  opacity: 1;
}
.footer__links > li:hover svg {
  fill: #000000;
}
.footer__links > li:active svg {
  fill: #ffffff;
}
.footer__links > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.footer__links > li svg {
  fill: #ffffff;
}

@media screen and (max-width: 576px) {
  .header__container {
    padding: 20px 20px 40px;
  }
  .header__logo {
    width: 180px;
    height: 100px;
  }
  .header__link {
    display: none;
  }
  .header__link-small {
    display: block;
  }
  .header__title {
    font-size: 20px;
    line-height: 24px;
    max-width: 240px;
  }
  .header__logos {
    display: none;
  }
  .main .title {
    font-size: 20px;
    line-height: 28px;
  }
  .main .subtitle {
    font-size: 14px;
    line-height: 28px;
  }
  .about__container {
    padding: 40px 20px;
  }
  .about__samples {
    width: 100%;
  }
  .about__text {
    font-size: 14px;
  }
  .about__actually-do {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }
  .about__actually-do h3 {
    font-size: 14px;
  }
  .about__we-great {
    width: 100%;
  }
  .about__we-great h3 {
    font-size: 14px;
  }
  .featured__container {
    padding: 40px 20px;
  }
  .featured__collection {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: scroll;
  }
  .featured__collection > div {
    width: 100%;
  }
  .team__container {
    padding: 40px 20px;
  }
  .employee > img {
    width: 100%;
  }
  .contact__container {
    padding: 40px 20px;
  }
  .contact__map {
    width: 100%;
  }
  .contact__map iframe {
    max-width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}